@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/HelveticaNowDisplay-Medium.eot');
    src: local('Helvetica Now Display Medium'), local('HelveticaNowDisplay-Medium'),
        url('./assets/fonts/HelveticaNowDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('./assets/fonts/HelveticaNowDisplay-Medium.woff') format('woff'),
        url('./assets/fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-950 text-white font-sans antialiased;
}

/* Custom Thin Scrollbar */
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(155, 155, 155, 0.3);
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(155, 155, 155, 0.5);
  }
}